{% extends "base.html" %}

{% block content %}
<style>

    .hero-quote{
    font-family: Georgia, "Times new roman", Times;
    font-style: italic;
    text-align: center;
    color: #333;
    border-left: 5px solid #ddd;
    padding-left: 25px;
    padding-right: 25px;
}

</style>

<div class="center_text">
<div class="flaga" style="text-align:center">
    <img src="{{ flaga }}" align="middle">
</div>
<br>
<br>
<br>

<div class="film" style="text-align:center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q88AkN1hNYM" title="YouTube video player"   allowfullscreen></iframe>
</div>

<br>
<br>
<br>

{% for hero in heroes %}
    
    <!---
    <div class="hero_image" style="text-align:center">
        <img src="/static/hero_image/{{hero.image}}" align="middle"  width="auto" height="150" >
    </div>
    -->

    <div class="center_cream" style="text-align:center">
        <h1>{{ hero.name }}</h1>
    </div>



    <div class="hero-quote">
        <p>"{{hero.quote}}"</p>
    </div>



    <div class="hero-info">
        <p>{{ hero.description | safe }}</p>
        <p style="text-align:center">{{ hero.url | safe }}</p>
        <br>
        <br>
        <br>
    </div>


{% endfor %}
</div>
{%endblock%}