<!DOCTYPE>
<html>
<head>
</head>
<style>
body {
  background-image:
  url("static/ukrainamod.jpg");
  <!-- background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; -->
}
</style>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="color:rgb(4, 121, 255); text-align:center;">FLAGA</h1>
    <p style="text-align:center">dla</p>
    <h1 style="color:rgb(199, 199, 0); text-align:center;">UKRAINY</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wNECV2h-y58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/B-rnM-MwRHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</body>
</html>